blosc2
celery
cvxopt
cython==0.29.21
dash
dash_bootstrap_components
dash_daq
dash_uploader
diskcache
matplotlib
multiprocess
numpy==1.26.4
openpyxl
packaging==21.3
pandas
plotly
psutil
pyEDFlib
scipy
tqdm==4.65.0