celery==5.3.1
dash==2.11.1
dash_bootstrap_components==1.2.1
dash_daq==0.1.0
dash_uploader==0.6.0
diskcache==5.6.1
matplotlib==3.5.2
numpy==1.21.6
pandas==2.0.1
plotly==5.0.0
pyEDFlib==0.1.28
scipy==1.11.2