@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
       url('./fonts/Poppins-Regular.woff') format('woff'),
       url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.woff2') format('woff2'),
       url('./fonts/Poppins-Bold.woff') format('woff'),
       url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Italic.woff2') format('woff2'),
       url('./fonts/Poppins-Italic.woff') format('woff'),
       url('./fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.container {
  padding: 15px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-51%, -50%);
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.beat-chart-container {
  position: relative;
}

.plot-beat-segment {
  margin-top: -30px;
}

.chart-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align buttons and h3 vertically in the center */
  width: 100%;
}

.chart-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px; /* Space below the buttons */
}

.chart-name {
  margin-top: -20px;
}

.chart-info {
  text-align: right; /* Align text to the right */
  margin-right: 10px; /* Add some right margin */
}

.select-and-buttons {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust space between select and BeatChart */
}

button {
  background-color: #47555e;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  border: 2px solid transparent !important;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: darken(#47555e, 5%);
  }

  i {
    margin-top: 3px;
    margin-right: 3px;
  }
}

.add-beat-active,
.delete-beat-active,
.mark-unusable-active {
  background-color: #ee8a78;
}

.dropdown {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px; /* Increase font size */
  padding: 0px; /* Increase padding */
  width: 50px; /* Set width */
  height: 40px; /* Set height */
  text-align: center;
}

.highcharts-credits {
  display: none !important;
}

.custom-toast {
  font-family: 'Poppins', sans-serif !important;
}





  