/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap');

/* ========================== MAIN PAGE ELEMENTS ========================== */
body, #main {
    background-color: #cbcacf;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    min-height: 98vh;
}
p {
    font-size: 10.5pt;
    letter-spacing: 0.5pt;
    margin-top: 20px;
    margin-bottom: 0px;
}
a {
    color: #f0e7ec;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover {
    color: #ffbbae !important;
    text-decoration: none;
}
h1 {
    font-size: 40px;
    color: #cbcacf;
    padding: 30px;
}
h2, h4 {
    font-size: 15pt;
    color: #313c42;
    margin-top: 6px;
    letter-spacing: 2px !important;
}
h6 {
    color: #47555e;
    letter-spacing: 0.5pt;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12pt;
    font-weight: bold;
    text-transform: none;
}
.banner {  /* header */
    background-color: #313c42;
    color: #cbcacf;
    padding: 15px;
}
.logo {  /* app logo */
    height: 70px;
    margin-left: 10px;
}
.banner .col-3 {  /* navigation links */
    text-align: right;
    font-size: 12pt;
    letter-spacing: 1.5pt;
    width: auto;
    align-items: center;
    display: flex;
    margin-right: 20px;
}
.app {  /* main app container */
    color: #372e27 !important;
    padding: 30px;
}
#qa-section {
    display: block;
    align-items: stretch;
    width: 100%;
}
#data-summary-header {
    display: flex;
    justify-content: space-between;
}
.data-summary {  /* data summary panel */
    background-color: #f0e7ec;
    color: #313c42;
    border-radius: 3px;
    min-width: 370px;
    max-width: 370px;
    word-wrap: break-word;
    height: 100%;
    float: left;
    padding: 15px;
}
.data-summary-divs {
    display: block;
}
.data-summary h2 {  /* data summary title */
    margin-top: 0;
    float: left;
    padding-bottom: 5px;
}
.data-about {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1pt;
    padding-right: 5px;
}
.data-label {
    letter-spacing: 0.3pt;
    font-size: 10pt;
}
.qa {  /* data quality figure container */
    max-width: 100%;
    padding-left: 395px;
    height: auto;
    width: 100%;
}
.qa-charts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-eye {
    font-size: 20px;
    margin-right: 8px;
    color: #313c42;
}
.qa-charts-selection {
    display: flex;
    align-items: center;
}
#segment-dropdown {
    padding: 0px 5px 0px 5px;
    width: 70px;
}
#segment-dropdown > .is-open {
    font-weight: 600;
}
#qa-charts-dropdown {
    width: 170px;
}
#qa-charts-dropdown .Select-control,
#segment-dropdown .Select-control {
    border: 1px solid #de7765 !important;
    height: 30px !important;
}
#qa-charts-dropdown .Select-input,
#segment-dropdown .Select-input {
    height: 30px !important;
}
#qa-charts-dropdown .Select-value,
#segment-dropdown .Select-value {
    line-height: 30px !important;
}
.bottom {  /* footer */
    position: fixed !important;
    height: 3.5rem;
    bottom: -5px;
    width: 100%;
    text-align: center;
    background-color: #313c42;
    color: #cbcacf;
    padding-top: 1.1rem;
}
.modal-backdrop {
    --bs-backdrop-opacity: 0.6 !important;
}

/* ========================== OFFCANVAS ELEMENTS ========================== */
.h5 {
    text-transform: none !important;
    letter-spacing: 0px;
    color: #313c42;
    font-size: 22pt;
    font-weight: 800;
}
.offcanvas-header {
    height: 10px;
}
.offcanvas-header .btn-close {
    margin-top: 5px;
    background-color: transparent;
}
.offcanvas-body h4 {
    padding-top: 20px;
}
.btn-close:hover {
    background-color: transparent !important;
}
#run-data:disabled, #configure:disabled, #export-summary:disabled {
    background-color: #bababa;
    pointer-events: none;
}
#configure:disabled {
    background-color: #bababa;
    pointer-events: none;
}
#setup-data p, #setup-data span {
    font-weight: 600;
}
#setup-data h4 {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 18px;
}
.Select-clear {
    font-weight: normal !important;
}
#data-type-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
#data-types {
    margin-left: 10px;
}
#segment-data span, #artifact-params > span {
    font-weight: 600;
    padding-right: 5px;
}
#artifact-params > div {
    padding: 8px 0px 0px 0px;
}
#artifact-params > div > span {
    font-weight: 600;
    padding-right: 5px;
}
#artifact-params button {
    background: none;
    color: #55595c;
    font-size: 13pt;
    width: 20px;
    height: 20px;
    padding-inline: 0;
    display: inline-flex;
    align-content: center;
    align-items: center;
}
#artifact-params button:hover {
    background: none !important;
}
#artifact-method {
    height: 34px;
    margin-top: 5px;
    font-size: 10pt;
}
#select-beat-detector {
    margin-top: 5px;
}
#select-beat-detector > span {
    font-weight: 600;
}
#beat-detectors {
    font-size: 10pt;
}
#data-variables {
    margin-top: 8px;
}
.form-check-input[type=radio] {
    width: 1.05em
}
.form-check-input:checked[type=radio] {
    background: #ffa891;
}

/* --- toggle switches -----------------------------------------------------*/
#toggle-resample {
    display: inline-block;
}
#toggle-resample .igrnnx, #toggle-resample .dlqMgb {
    width: 18px !important;
    height: 18px !important;
}
#toggle-resample label {
    margin-top: 2px;
    margin-left: 5px;
    padding-right: 10px;
    font-size: 11pt;
}
#toggle-filter {
    display: inline-flex;
}
#toggle-filter label {
    margin-top: 1px;
    margin-left: 5px;
    font-weight: 600;
    font-size: 11pt;
    padding-right: 0px;
}
#toggle-filter .igrnnx, #toggle-filter .dlqMgb {
    width: 17.5px !important;
    height: 17.5px !important;
}
#toggle-filter .dlqMgb, #toggle-config .dlqMgb, #toggle-resample .dlqMgb {
    transform: translateX(18px);
}
.sc-bxivhb {
    width: 40px !important;    /* toggler size */
}
#toggle-config .igrnnx, #toggle-config .dlqMgb {
    width: 17.5px !important;
    height: 17.5px !important;
}
#toggle-config {
    padding-top: 18px;
    padding-bottom: 13px;
    display: inline-block;
}
#toggle-config > div > label {
    margin: 1px 0px 0px 5px;
    display: inline-block;
    font-size: 11.5pt;
    font-weight: 600;
    letter-spacing: 0.5pt;
}
/* -------------------------------------------------------------------------*/
#filter-data {
    display: flex;
}
#segment-data {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
/* --- help icons ----------------------------------------------------------*/
#filter-help {
    margin-left: 5px;
    font-size: 13pt;
    margin-top: 3px;
}
#seg-data-help, #artifact-tol-help {
    margin-left: 5px;
    padding-right: 10px;
    font-size: 13pt;
    margin-top: 1px;
}
/* -------------------------------------------------------------------------*/
#config-uploader { /* configuration file uploader */
    line-height: 30px !important;
    min-height: 30px !important;
    border-radius: 5px;
    border-color: #ee8a78;
    color: #de7765;
    text-align: center;
    border: 1px dashed;
    padding: 5px;
    cursor: pointer;
}
#file-check {  /* data upload confirmation text */
    font-size: 11px;
    font-style: italic;
    margin-top: 5px;
    float: right;
    margin-top: 5px;
}

/* ====================== DATA UPLOAD & PROGRESS BARS ===================== */
.progress-bar {
    background-color: #ee8a78 !important;
}
.progress-output {
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.3pt;
}
#progress-bar {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    width: 175px;
    height: 20px;
    background-color: transparent;
    border-radius: 5px;
}

/* =============================== TOOLTIPS =============================== */
.tooltip-inner {
    background-color: #313c42;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 9pt;
    letter-spacing: 0.5pt;
    font-weight: 400;
    border-radius: 5px;
}
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: #313c42;
}
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: #313c42;
}
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: #313c42;
}
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: #313c42;
}
.rc-slider-tooltip-inner {
    background-color: #f0e7ec;
    color: #313c42;
    border: 1px solid #c6c6c6;
}

/* ========================== USER INPUT ELEMENTS ========================= */
input[type="number"] {
    line-height: 18px;
    width: 55px;
    color: #313c42;
}
input[type="number"]:disabled {
    color: grey;
}
#artifact-tol {
    width: 45px;
}
.form-check-inline {
    display: inline-flex;
    align-items: center;
    margin-right: 0.7rem;
}
.form-check-input[type=radio] {
    border: 2px solid #ee8a78;
    background-color: #ffffff
}
.form-check-input:checked {
    background-color: #ffa891;
    border-color: #ffa891;
}
.form-check-label {
    margin-left: 10px;
}
input[type="text"] {
    width: 300px;
    color: #313c42;
    letter-spacing: 1px;
}
button {
    background-color: #47555e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    border: 2px solid transparent !important;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}
button:hover {
    background-color: #313d44 !important;
    color: #ffffff;
    cursor: pointer !important;
}
#resample {
    display: inline-flex;
    align-items: center;
    float: right;
    font-weight: 600;
}
#resample data {
    display: flex;
    align-items: center;
}
#resample-data label {
    margin-top: 0;
    padding-right: 10px;
}
.setup-data-dropdowns {  /* dbc.Row containing dropdowns */
    --bs-gutter-x: 0.5rem !important;
    font-size: 10pt;
    margin-top: 3px;
}
.Select-control {  /* dropdown menus */
    border: 1px dashed #777777 !important;
    color: #372e27;
}
.Select-placeholder {  /* placeholder text in dropdowns */
    color: #777777 !important;
}
.Select-clear {  /* clear 'x' in dropdowns */
    line-height: 34px !important;
}
#setup-timestamp {  /* dropdown 1*/
    flex: 1 0 20%;
}
#setup-cardio {  /* dropdown 2*/
    flex: 1 0 8%;
}
#run-save-buttons {
    margin-top: -5px;
}
#run-data {  /* run button */
    width: 100px;
    margin-top: 20px;
    min-width: 90px;
}
#stop-run {  /* stop button*/
    width: 100px;
    min-width: 100px;
    margin-top: 20px;
    margin-left: -100px;
    background-color: #ee8a78;
}
#configure {  /* save button */
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
}
.variables {  /* map variables header */
    margin-top: 5px;
}
label {
    padding-right: 15px;
    margin-top: 5px;
}
.fa-arrow-right-arrow-left {
    color: #ffa891;
    font-size: 12pt;
}
.fa-pen-to-square {     /* reload data icon */
    color: #313d44;
    margin-left: 110px;
    font-size: 17pt;
    cursor: pointer;
}
.fa-pen-to-square:hover {
    color: #ee8a78;
}
.fa-solid.fa-circle-xmark {
    color: #cf0e22;
    margin-right: 5px;
}
/* ============================= ERROR POP-UPS ============================ */
.validation-error-modal i {
    font-size: 22pt;
    margin-right: 20px !important;
}
#mapping-validator .modal-content {
    min-width: 575px;
    background-color: #fee4e1;
    border-bottom: 5px solid #cf0e22;
}
#dtype-validator .modal-content {
    max-width: 460px;
    background-color: #fee4e1;
    border-bottom: 5px solid #cf0e22;
}
#artifact-identification-modal .modal-content {
    max-width: 520px;
    background-color: #fff;
    border-bottom: 5px solid #ee8a78;
}
.validation-error-modal .modal-body{
    padding-right: 0;
}
.validation-content {
    display: inline-flex;
    align-items: center;
}
.information-content {
    display: inline-flex;
    align-items: normal;
}
.validation-error h5 {
    margin: 0;
    letter-spacing: 2px;
    display: inline;
}
.validation-error p {
    margin-top: 5px;
    color: #333333;
}
.validation-error {
    display: inline;
}
.artifact-method-info {
    display: block;
    width: 400px;
}
.validation-error-modal button {
    background: none;
    width: 20px;
    height: 30px;
    padding: 0;
    position: relative;
    color: #372e27;
    margin-left: 75px;
    margin-top: -35px;
}
.validation-error-modal button:hover {
    background: none !important;
    color: #ee8a78 !important;
}
#artifact-identification-modal button {
    background: none;
    width: 20px;
    height: 30px;
    padding: 0;
    position: relative;
    color: #372e27;
    margin-left: 0px;
    margin-top: -3px;
}
#artifact-identification-modal button:hover {
    background: none !important;
    color: #ee8a78 !important;
}
.artifact-method-info h5 {
    margin: 0;
    letter-spacing: 2px;
    display: inline;
}
.artifact-method-info p {
    margin-top: 10px;
    color: #333333;
    display: block;
}
.artifact-method-info p > span {
    display: block;
}
.validation-error-modal .fa-solid.fa-xmark {
    font-size: 13pt;
}
/* ============================ CHART ELEMENTS ============================ */
.figs {  /* chart container */
    padding: 9px;
    font-size: 14px;
    background-color: #f0e7ec;
    border-radius: 3px;
    height: auto;
}
#sqa-plot {
    height: 286px;
}

/* ============================ SUMMARY TABLE ============================= */
.table {
    --bs-table-bg: #f0e7ec;
    --bs-body-color: #313c42;
}
table, tbody {
    margin-top: 15px;
    border: 0 !important;
    color: #313c42 !important;
}
tr, td {
    padding: 0 !important;
    border-style: none;
    padding-left: 5px;
    font-size: 10pt;
    letter-spacing: 0.3pt;
    line-height: 18pt;
}
th {
    text-align: left !important;
    text-transform: none !important;
    font-size: 1.0rem !important;
    padding: 0 !important;
    border-style: none !important;
}
td:first-child {  /* style only first column */
    width: 295px !important;
}
td:nth-child(2) { /* style the second column */
    text-align: right;
}
th:first-child {  /* style only first table header */
    text-align: left !important;
    letter-spacing: 1pt;
    padding: 0 !important;
    text-transform: uppercase !important;
    font-size: 12pt !important;
    line-height: 20pt !important;
}

/* ===================== CONFIGURATION EXPORTER MODAL ===================== */
#config-check, #export-confirm {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

/* ======================== SUMMARY EXPORTER MODAL ======================== */
.modal-content {
    border-radius: 5px !important;
}
#ok-export, #config-btn {
    background-color: #47555e;
    position: relative;
    float: left;
    max-width: 225px;
}
#ok-export:hover, #config-btn:hover {
    background-color: #313d44;
}
#close-export, #close-config1 {
    background-color: #ffbbae;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
    float: right;
    max-width: 225px;
}
#close-export2, #close-config2 {
    background-color: #47555e;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
}
#close-export:hover, #close-config1:hover {
    background-color: #ffa891 !important;
}
.fa-download {
    color: #ee8a78;
    font-size: 14pt;
}
#export-type {  /* exported file type */
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
#export-type > label {
    display: inline-flex;
    align-items: center;
}
#export-type > label > input {
    margin-right: 8px;
}

/* =========================== RAW PLOT SECTION =========================== */
.raw-plots {
    margin-top: 25px;
    margin-bottom: 50px;
}
.graph-settings {
    margin-bottom: 20px;
    height: 1.1rem;
}
.graph-settings button {
    background: none;
    width: 20px;
    height: 30px;
    padding: 3px 0px 1px 0px;
    position: relative;
}
.graph-settings button:hover {
    background: none !important;
    color: #ee8a78 !important;
}
.graph-settings i {
    color: #313c42;
    font-size: 14pt;
}
.graph-settings i:hover {
    color: #dc6c59;
}
.segment-view {
    display: inline-flex;
    align-items: center;
    float: right;
}
.segment-view h5 {
    margin: 0px;
    padding-right: 8px;
    letter-spacing: 2px;
    color: #313c42;
    font-size: 13pt;
}
#beat-correction {
    width: auto;
    height: 26px;
    background: #313c42;
    font-size: 11pt;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0px 4px 0px 5px;
    margin-right: 5px;
}
#beat-correction:hover {
    background: #ee8a78 !important;
    color: #ffffff !important;
}
#beat-correction > i {  /* magic wand icon */
    transform: rotate(90deg);
    color: #ffffff;
    font-size: 10.5pt;
}
#beat-correction > span {
    margin-left: 5px;
}
#open-beat-editor {
    width: auto;
    height: 26px;
    background: #313c42;
    font-size: 11pt;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0px 4px 0px 5px;
    margin: 0px 5px 0px 3px;
}
#open-beat-editor:hover {
    background: #ee8a78 !important;
    color: #ffffff !important;
}
#open-beat-editor > i {  /* new window icon */
    color: #ffffff;
    font-size: 10pt;
}
#open-beat-editor > span {
    margin-left: 5px;
}
.separator {
    padding: 2px 7px 0px 7px;
    font-size: 14pt;
}
.raw-plots .tab {
    padding: 10px !important;
    font-size: 24px;
    background-color: #e3d6dd !important;
    color: #b2a2ab;
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.raw-plots .tab:hover {
    background-color: #e3d6dd !important;
}
.raw-plots .tab--selected {
    padding: 10px;
    font-weight: 800;
    background-color: #f0e7ec !important;
    color: #313c42;
    border: 0px !important;
    border-top: 3px #47555e solid !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.raw-plots .tab--selected:hover {
    padding: 10px;
    font-weight: bold;
    background-color: #f0e7ec !important;
    color: #313c42;
    border-top: 3px #313c42 solid !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.raw-plots .tab-content {
    border: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 3px;
    background-color: #f0e7ec;
}
.raw-plots .tab-header {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #313c42;
    margin-left: 15px;
}

/* ============================= BEAT EDITOR ============================== */
#beat-editor-modal {
    min-width: 95%;
}
#beat-editor-modal .modal-header {
    border-radius: 5px;
}
#beat-editor-modal .modal-body {
    padding: 0;
}
#beat-editor-modal .modal-title{
    font-size: 14pt;
    letter-spacing: 2px;
}
#beat-editor-content {
    height: 550px;
    text-align: center;
    align-content: center;
    font-style: italic;
}